.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 20px;
  background-color: #b3893b31;
  width: 255px;
  height: 300px;
}

.card h3 {
  margin: 0;
  padding: 0;
}

.card p {
  margin: 0;
  padding: 0;
}

.card:hover {
  transform: scale(1.1);
  transition: 200ms;
}

.p {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 5px;
}

.img {
  display: inline-block;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.603);
  padding: 0px;
  font-size: 0px;
  margin: 0x 0px 0px 0px;
  background-color: #f190401a;
  height: 200px;
  width: 100%;
}
