.margen {
  margin-top: 110px;
}

.marginC {
  margin-top: 40px;
}

.botons {
  border-color: rgb(185, 79, 30);
  background-color: #b3893b31;
  color: rgb(185, 79, 30);
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  height: 30px;
}

.botons option {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textFil {
  color: rgb(185, 79, 30);
}

.boton {
  background-color: rgb(185, 79, 30);
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  height: 30px;
}

.info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.orderContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
