.navBar {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #f0ddb1;
  height: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(142, 19, 0, 0.30196078431372547);
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 50%;
}

.active {
  font-size: large;
  color: rgb(185, 79, 30);
}

.disable {
  font-size: x-large;
  color: rgb(185, 79, 30);
  text-decoration: underline;
}

@media screen and (min-width: 280px) {
  .small-links {
    font-size: small;
  }
}

@media screen and (min-width: 1000px) {
  .small-links {
    font-size: larger;
  }
}
